.vscode/
*.pyc
setup/AirfoilFitterFusion.msi
setup/AirfoilFitterFusion.wixpdb
setup/AirfoilFitterFusion-bundled.msi
setup/AirfoilFitterFusion-bundled.wixpdb
setup/Files-bundled.wxs
setup/Files.wxs
lib/
doc/
res/
out/