.vscode/
*.pyc
setup/AirfoilFitterAddin.msi
setup/AirfoilFitterAddin.wixpdb
setup/AirfoilFitterAddin-bundled.msi
setup/AirfoilFitterAddin-bundled.wixpdb
setup/Files-bundled.wxs
setup/Files.wxs
lib/
doc/
res/
out/